body{
  background-color: #ECEBE4 ;
}

  /*Mail control*/
  
.jt-container-1{
  background-color: #429EA6;
  margin: 50px auto;
}

.jt-container-2{
  background-color: #153B50;
}

.outputResult{
  margin-top: 10px;
}
